h1, h2, h3, h4, h5, h6, p, span, ul, ol, li, a, button {
    outline: none !important;
    text-decoration: none !important;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.3s;
}

.top-head {
    position: relative;
    overflow: hidden;
    padding: 15px 0;
}

.top-head .hi-user {
    overflow: hidden;
}

.top-head .hi-user .img-wrapper {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #043A6B;
}

.top-head .hi-user .img-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    max-width: 100%;
    min-width: 100%;
}

.top-head .hi-user p {
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 16px;
    color: #000;
}

.top-head .enter-but.btn {
    width: 100px;
    background: #fff;
    border: 2px solid #043A6B;
    color: #000;
    box-shadow: none;
    margin-top: 7px;
}

.top-head .enter-but.btn:hover {
    background: #043A6B;
    color: #fff;
}

.nav-wrapper {
    background: #043A6B;
}

.nav-wrapper ul li {
    float: left;
    margin-right: 40px;
    position: relative;
}

.nav-wrapper ul li a {
    display: block;
    padding: 10px;
    color: #fff;
}

.nav-wrapper ul li a:hover, .nav-wrapper ul li a:focus {
    background: #26537C;
}

.nav-wrapper .b-menu{
    position: absolute;
    top: 100%;
    left: 0;
    background: #043A6B;
    opacity: 0;
    z-index: -1;
    transition: .3s;
    min-width: 150px;
}
.nav-wrapper .b-menu.toggle{
    opacity: 1;
    z-index: 3;
}
.nav-wrapper .b-menu li{
    display: block;
    margin-right: 0;
    width: 100%;
    float: none;
}

.table-content {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #272822;
}

.table-content .news-wrapper .item-news{
    margin-bottom: 15px;
    border: 1px solid rgba(4,58,107,.3);  
    border-radius: 3px; 
}
.table-content .news-wrapper .item-news p{
   padding: 10px;
}
.table-content .news-wrapper h3 {
    color: #000;
    font-size: 28px;
    border-bottom: 1px solid rgba(4,58,107,0.4);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.items-content {
    position: relative;
    padding: 30px 0;
}

.items-content .item-wrapper {
    margin-bottom: 30px;
}

.items-content .item-wrapper .title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.items-content .item-wrapper .bor-it {
    padding: 10px 15px;
    border: 1px solid #043A6B;
}

.items-content .item-wrapper .see-more {
    display: block;
    color: #fff;
    padding: 5px 0;
    font-size: 16px;
    text-align: center;
    background: #442a6e;
    margin-top: 10px;
}

.items-content .item-wrapper .see-more:hover {
    background: #442a6ead;
}


footer {
    background: #043A6B;
    padding: 10px 0;
}

footer .copyright {
    text-align: right;
    color: #fff;
}

.validation {
    display: inline-block;
    color: red;
    font-size: 12px;
}

.select {
    height: 34px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border-color: #cccccc;
}

