﻿
@using InternetBanking.ViewModels;
@model InternetBanking.ViewModels.TwoFactorAuthViewModel

@{
    Layout = "_Layout2";
}

<section class="form-section">
    <h4 style="margin-top: 50px;"> Для входа в систему введите код, отправленный на вашу электронную почту</h4>
    <form asp-action="TwoFactorAuth" asp-controller="Manage" method="post">

        <div>
            <label asp-for="CodeConfirm">Код подтверждения</label><br>
            <input type="text" asp-for="CodeConfirm" />
            <span asp-validation-for="CodeConfirm"></span>
        </div>

        <div class="form-group" style="margin-top: 10px">
            <input type="submit" value="Отправить" class="btn btn-default" />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" style="visibility: hidden">
            <input type="text" asp-for="UserId" value="@ViewBag.UserId" class="form-control" />
        </div>
        <div class="form-group" style="visibility: hidden">
            <input type="text" asp-for="Password"   value="@ViewBag.Password" class="form-control" />
        </div>
        <div class="form-group" style="visibility: hidden">
            <input type="text" asp-for="Code"  value="@ViewBag.Code" class="form-control" />
        </div>
    </form>
</section>