﻿@using Microsoft.EntityFrameworkCore
@model InternetBanking.ViewModels.UserIndexViewModel

<body>
<section class="table-content">
        <div class="container table-content">
            <div class="row">
                <div class="col-md-8 table-wrapper">
                   
                    <h4 style="margin-bottom: 15px">Счета</h4>
                    <table class="table table-hover table-bordered " >
                        <thead>
                        <tr>
                            <th>Номер</th>
                            <th>Баланс</th>
                            <th>Вид</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.UserAccounts)
                        {
                            <tr>
                                <td>
                                    @item.Account.Number
                                </td>
                                <td>
                                    @item.Balance
                                </td>
                                <td>
                                    @item.Account.Currency.Name
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
        
                    <div class="col-md-4 news-wrapper">
                        <div class="item-news">
                            <h3>News</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eligendi ipsa minima molestiae perferendis quasi</p>
                        </div>
                        <div class="item-news">
                            <h4 style ="padding: 7px 20px;text-align: center;">Курс НБКР</h4>
                            <table class="table table-bordered " >
                                <tbody>
                                    @foreach (var item in Model.NBKRRates)
                                       {
                                        <tr>
                                            <td style ="padding: 7px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: left;">
                                                @item.Currency.Name
                                            </td>
                                            <td style ="padding: 7px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: right;">
                                                @item.Rate
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="item-news">
                            <h4 style="padding: 7px 20px;text-align: center;">Рыночный курс</h4>
                            <table class="table table-bordered ">
                                <tbody>
                                    @foreach (var item in Model.MarketRates)
                                    {
                                        <tr>
                                            <td style="padding: 7px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: left;">
                                                @item.Currency.Name
                                            </td>
                                            <td style="padding: 7px 20px;
                                                    border-bottom: 1px solid #ddd;
                                                    font-size: 15px;
                                                    font-weight: bold;
                                                    text-align: right;">
                                                @item.Rate
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>   
        

</section>


     
 
</body>


