﻿@using InternetBanking.ViewModels
@using Microsoft.AspNetCore.Http
@model InternetBanking.ViewModels.LoginViewModel
@{
    Layout = "_Layout2";
}

<section class="form-section">
@if (Context.Session.GetString("AnswerToSend") != null)
{
    <span>@Context.Session.GetString("AnswerToSend")</span>
}
    <h2>Вход в приложение</h2>
    <form method="post" asp-controller="User" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Email" style="margin-top: 10px"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="validation"></span>
        </div>
        <div>
            <label asp-for="Password" style="margin-top: 10px"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" class="validation"></span>
        </div>
        <div>
            <label asp-for="RememberMe" style="margin-top: 10px"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div>
            <input type="submit" value="Войти"/>
        </div>

    </form>
    <div>
        <a asp-controller="Manage" asp-action="CheckEmail">Забыл пароль</a>
    </div>
</section>