﻿@using InternetBanking.ViewModels
@model InternetBanking.ViewModels.RegisterEmployeeViewModel
@{
    Layout = "_Layout2";
}

<section class="form-section" style="margin-top:40px">
    <h2>Регистрация нового сотрудника</h2>
    <form method="post" asp-controller="User" asp-action="RegisterEmployeeCompany">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form">
        <input type="hidden" asp-for="CompanyId" value="@Model.CompanyId" />
        <div class="row">
            <div class="form person-name col-md-6">
                <h3>Данные сотрудника</h3>
                <div class="input-group">
                    <label asp-for="Email"></label><br />
                    <input class="form-control-employee form-control" asp-for="Email" />
                    <span class="validation" asp-validation-for="Email"></span>
                </div>
       
                <div class="input-group">
                    <label asp-for="FirstName"></label><br />
                    <input class="form-control-employee form-control" asp-for="FirstName" />
                    <span class="validation" asp-validation-for="FirstName"></span>
                </div>
       
                <div class="input-group">
                    <label asp-for="SecondName"></label><br />
                    <input  class="form-control-employee form-control" asp-for="SecondName" />
                    <span class="validation" asp-validation-for="SecondName"></span>
                </div >
                <div class="input-group">
                    <label asp-for="MiddleName"></label><br />
                    <input class="form-control-employee form-control" asp-for="MiddleName" />
                    <span class="validation" asp-validation-for="MiddleName"></span>
                </div>
       
                <div class="input-group">
                    <label asp-for="Position"></label><br />
                    <input class="form-control-employee form-control"  asp-for="Position" />
                    <span class="validation" asp-validation-for="Position"></span>
                </div>
                <div class="input-group">
                    <input type="submit" value="Регистрация" />
                </div>
            <div>
                <input type="submit" value="Регистрация" />
            </div>
        </div>
    </div>
    </form>
</section>