﻿@model InternetBanking.ViewModels.EmployeeEditViewModel

@{
        Layout = "_Layout2";
        ViewData["Title"] = "Редактирование сотрудника";
}


<section class="form-section">
    <hr/>
    <h2>Редактирование сотрудника</h2>
    <form method="post" asp-controller="Employee" asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="employee.Id" class="form-control" />
        <input type="hidden" asp-for="employee.CompanyId" class="form-control" />
        <input type="hidden" asp-for="employee.UserId" class="form-control" />
        <div class="row">
            <div class="form person-name col-md-6">
                <h3>Данные сотрудника</h3>
                <div class="input-group">
                    <label asp-for="employee.FirstName"></label><br />
                    <input class="form-control" asp-for="employee.FirstName" />
                    <span class="validation" asp-validation-for="employee.FirstName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="employee.SecondName"></label><br />
                    <input class="form-control" asp-for="employee.SecondName" />
                    <span class="validation" asp-validation-for="employee.SecondName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="employee.MiddleName"></label><br />
                    <input class="form-control" asp-for="employee.MiddleName" />
                    <span class="validation" asp-validation-for="employee.MiddleName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="employee.Position"></label><br />
                    <input class="form-control" asp-for="employee.Position" />
                    <span class="validation" asp-validation-for="employee.Position"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Email"></label><br />
                    <input class="form-control" asp-for="Email" />
                    <span class="validation" asp-validation-for="Email"></span>
                </div>
                <div>
                    <input type="submit" value="Сохранить" />
                </div>
    </form>
</section>


