﻿@{
    Layout = "_Layout2";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet Banking</title>
    <link href="../../css/admin_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  
<div class="container">
<div class="row">
    <div class="leftmenu col-sm-12 col-md-3">

        <div class="container" style="margin-top: 30px">
            <h4>Пользователи</h4>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a asp-controller="UserInfo" asp-action="Index">Пользователи</a></li>
                        <li><a asp-controller="User" asp-action="RegisterPerson">Добавление пользователей</a></li>
                        <li><a asp-controller="Company" asp-action="Index">Добавление компаний</a></li>
                        <li><a href="#">Настройка профиля</a></li>
                        <li><a href="#">Настройка групп пользователей</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="container ">
            <h4>Банки</h4>
            <div class="menu">
                <nav>
                    <ul>

                        <li><a asp-controller="Bank" asp-action="Index">Банки</a></li>


                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <h4>Валюты</h4>
            <div class="menu">
                <nav>
                    <ul>

                        <li><a asp-controller="Currency" asp-action="Index">Добавление валют</a></li>
                        <li><a asp-controller="ExchangeRate" asp-action="Index">Добавление курсов</a></li>

                        <li><a href="#">Курс НБКР</a></li>
                        <li><a href="#">Рыночный курс</a></li>
                    </ul>


                    <ul>
                        <li><a href="#">Курс НБКР</a></li>
                        <li><a href="#">Рыночный курс</a></li>

                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <h4>Сообщения</h4>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Рассылка сообщений</a></li>
                        <li><a href="#">Шаблон сообщений</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <h4>Выписки</h4>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#">Шаблоны платежей</a></li>
                        <li><a href="#">Шаблоны переводов</a></li>
                    </ul>
                </nav>
            </div>
                <h4>
                    <a asp-controller="Admin" asp-action="PasswordBlackList">Черный список паролей</a>
                </h4>
        </div>
    </div>
    </div>
</div>
</body>
</html>