﻿@model InternetBanking.ViewModels.CurrencyViewModel

@{
    Layout = "_Layout2";
}


<section class="form-section">
    <h2 style="margin-top: 34px;">Создание валюты</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <div>
                         <span class="validation" asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" type="number"/>
                    <div> 
                        <span asp-validation-for="Code" class="validation"></span></div>
                    </div>
                <div class="form-group">
                    <input type="submit" value="Создать" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</section>