header{
	width: 100%;
	margin-bottom: 0px;
	height: 70px;
	background: white;
	border-bottom:2px solid #a5a7a2;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
.headercontainer{
	width: 1000px;
	margin:0 auto;
	margin-bottom: 0px;
}
header h3{
	margin-bottom: 0px;
	line-height: 2.5;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.header-right{

	display: inline-block;
	float: right;
	margin-top: 25px;
	font-size: 14px;
}
.header-right a{
	padding-left: 10px;

}
.header-bottom{
	width: 100%;
	margin-top: 0px;
	padding-top: 0px;

	height: 30px;
	background: grey;
	
}
.header-bottom-text{
	width: 1000px;
	margin:0 auto;
}
.header-bottom-text a{
	float: right;
	color:white;
	padding-left: 20px;
}
.leftmenu {

	background-color: grey;
	padding-bottom: 20px;
}
.leftmenu .menu{
	
	margin-bottom: 20px;	
}
.menu li{
	 list-style-type: none;
	 margin-bottom: 20px;
	 margin-left: -40px;
}

.leftmenu .menu a:hover{
	text-decoration:underline;
}

.leftmenu a{
	color:#343a40;
}
.leftmenu{
	margin-left: 100px;
	display: inline-block;
}
.caption{
	margin-top: 150px;
	display: inline-block;
}
.row{
	margin-left: -220px;
}



