header{
    width: 100%;
    margin-bottom: 0px;
    height: 70px;
    background: white;
    border-bottom:2px solid #a5a7a2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.headercontainer{
    width: 1000px;
    margin:0 auto;
}
.headercontainer .logo{
    margin-top: 10px;
    width:50px;
    height:50px;
    background-color: red; 
    display: inline-block;

}
.greeting{
    display: inline-block;
    vertical-align: middle; 

}
.greeting p{
    padding-top:20px;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 5%;
}
.greeting p span{
    font-weight: 700;
}
.lang{

    height: 20px;
    float:right;
}
.lang a{
    padding-right: 5px;
}

.help {
    float:right;
    margin-top: 40px;
    margin-right: -40px;


}	

.help a{
    text-align: right;
    padding-left: 5px;
}
.help i{
    font-size: 14px;
    background-color: red;
}
.menu{
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.navbar-inverse{	
    border-radius: 0px;
}
.menu{
    border-bottom:2px solid #a5a7a2;
}
.menunav{
    margin-left: 150px;
    width: 1000px;
}
.menunav a{
    color: white;
}
.menunav li{
    display: inline-block;
    margin-right: 50px;
}
.menunav .lastli{
    margin-right: 0px;
    float: right;
}
.container {
    margin-top: 50px;	
    margin-bottom: 40px;
}
.count{
    margin-left: 50px;
}
.count a{
    display: block;
}
.caption{
    margin-top: 60px;
    text-align: center;
}
.caption h4{

    background-color: #a5a7a2;
    padding: 5px;

}
.caption .news{
    border: 1px solid #a5a7a2;
}
footer{
    margin-top: 50px;
    background-color: #343a40;
}
.footer-content{
    width: 1000px;
    margin:0 auto;
    height: 70px;

}
.footer-content a{
    padding-top: 50px;
    color: white;
    font-weight: 500;
}
thead  {

    background-color: #a5a7a2;
    line-height: 50px;



}



