﻿@model InternetBanking.ViewModels.ExchangeRateViewModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Регистрация курса";
}

<section class="form-section">
    <h2 style="margin-top: 45px;">Регистрация курса</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="CurrencyId" class="control-label"></label>
                @using (Html.BeginForm(method: FormMethod.Post, controllerName: "ExchangeRate", actionName: "Create"))
                {
                    <div class="form-group">

                        @Html.DropDownListFor(m => m.CurrencyId, new SelectList(Model.CurrencyList, "Id", "Name"), htmlAttributes: new { @class="select"})
                        <div>
                            <span class="validation" asp-validation-for="CurrencyId"></span>
                        </div>
                    </div>
                    <label asp-for="TypeId" class="control-label"></label>
                    <div class="form-group">
                        @Html.DropDownListFor(m => m.TypeId, new SelectList(Model.TypeList, "Id", "Name"), htmlAttributes: new {@class="select"})
                        <div>
                            <span class="validation" asp-validation-for="TypeId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rate" class="control-label"></label>
                        <input asp-for="Rate" class="form-control" type="number" oninput="up(this)" step="0.01" id="rateinput"  />
                        <div>
                            <span class="validation" asp-validation-for="Rate"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Записать" class="btn btn-default" />
                    </div>
                }
            </form>
        </div>
    </div>
</section>

@section Scripts{


    <script>
        document.getElementById('rateinput').onkeypress = function (e) {
            if (this.value.indexOf(".") != '-1' || this.value.indexOf(",") != '-1') { // позволяет ввести или одну точку, или одну запятую
                return !(/[.,]/.test(String.fromCharCode(e.charCode)));
            }
        }

        function up(e) {
            if (e.value.indexOf(".") != '-1') {
                e.value = e.value.substring(0, e.value.indexOf(".") + 3);
            }
        }

    </script>



}