﻿@model InternetBanking.ViewModels.ExchangeRatesListViewModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Курс валют";
}

<section class="form-section">

    <h2 style="margin-top: 34px;">Курс валют</h2>

    <p>
        <a asp-action="Create" class="btn btn-default">Добавить</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Тип
                </th>
                <th>
                    Код
                </th>
                <th>
                    Валюта
                </th>
                <th>
                    Дата
                </th>
                <th>
                    Курс
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.exchangeRatesList)
            {
                <tr>
                    <td>
                        @item.ExchangeRateType.Name 
                    </td>
                    <td>
                        @item.Currency.Code 
                    </td>
                    <td>
                        @item.Currency.Name
                    </td>
                    <td>
                        @item.RateDate
                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>