﻿@using InternetBanking.ViewModels
@model AccountWithBalance

@{
    Layout = "_Layout2";
}

<section class="form-section">
    <h2>@Model.Account.Number</h2>
    <div style="text-align: right">
        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Account.Id" class="btn btn-default">Редактировать</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="width:15%">
                    Название
                </th>
                <th style="width:60%" colspan="2">
                    Значение
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Номер
                </td>
                <td>
                    @Html.DisplayFor(model => model.Account.Number)
                </td>
            </tr>
            <tr>
                <td>
                    Баланс
                </td>
                <td>
                    @Html.DisplayFor(model => model.Balance)
                </td>
            </tr>
            <tr>
                <td>
                    Валюта
                </td>
                <td>
                    @Html.DisplayFor(model => model.Account.Currency.Name)
                </td>
            </tr>
        </tbody>
    </table>
</section>

