﻿@model InternetBanking.ViewModels.CompanyAccountCreateViewModel

@{
    Layout = "_Layout2";
}

    
<section class="form-section">

<h2 style="margin-top: 34px;">Добавление счета</h2>
<form method="post" asp-controller="Account" asp-action="CompanyAccountCreate">
    <div asp-validation-summary="ModelOnly"></div>
    <div>

        <input asp-for="CompanyId" type="hidden" value="@Model.CompanyId" />

    </div>
    <div>
        <select class="select" asp-for="CurrencyId" asp-items="@Model.Currencies">
            <option value=""><label asp-for="CurrencyId"></label></option>
        </select>
        <div style="margin-bottom: 10px;">
            <span asp-validation-for="CurrencyId" class="validation"></span>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-default" value="Добавить" />
    </div>
</form>

</section>

