﻿@model InternetBanking.ViewModels.CreateUserAccountViewModel
    @{
        Layout = "_Layout2";
    }
<section class="form-section">
<h2 style="margin-top: 34px;">Добавление счета</h2>
<form method="post" asp-controller="Account" asp-action="UserAccountCreate">
    <div asp-validation-summary="ModelOnly"></div>
    <div>

        <input asp-for="UserId" type="hidden" value="@Model.UserId"/>

    </div>

   <div>
       <select class="select" asp-for="CurrencyId" asp-items="@Model.Currencies" >
           <option value=""><label asp-for="CurrencyId"></label></option>
       </select>
       <div>
           <span asp-validation-for="CurrencyId"></span>
       </div>
    </div>
    <div style="margin-top: 34px;">
        <input type="submit" class="btn btn-default" value="Добавить" />
    </div>
</form>
 </section>