﻿@using InternetBanking.ViewModels
@model UserAccountViewModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Счета";
}
<section>
<h2>Счета @Model.UserInfo.User.UserName</h2>
<p>
    <div style="text-align: right">
        <a asp-action="UserAccountCreate" asp-controller="Account" asp-route-userId="@Model.UserInfo.User.Id" class="btn btn-default">Добавить</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Баланс
            </th>
            <th>
                Валюта
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AccountWithBalance account in Model.Accounts)
        {
        <tr>
            
                <td>
                    <a asp-action="AccountInfo" asp-controller="Account" asp-route-id="@account.Account.Id"> @account.Account.Number</a>

                 </td>
                <td>
                    @account.Balance
                </td>
                <td>
                    @account.Account.Currency.Name
                </td>
            
            <td>
                <a asp-action="AddMoneyUserAccount" asp-controller="Transfer" asp-route-accountId="@account.Account.Id">Пополнить счет</a>
            </td>
        </tr>
        }
    </tbody>
</table>
</section>