﻿@using InternetBanking.ViewModels.Paging
@model InternetBanking.ViewModels.Paging.PagingViewModel<UserInfo>

    @{
    Layout = "_Layout2";
    }
<section class="form-section" style="margin-top: 40px">
   
   
    <h2>Пользователи</h2>

    <div style="text-align: right">
        <a asp-action="RegisterPerson" asp-controller="User" class="btn btn-default">Добавить Клиента</a><br/>
    </div>
    @if (TempData["AnswerToSend"] != null)
    {
        <span>@TempData["AnswerToSend"]</span>
    }
    <table class="table" style="margin-top: 30px">

        @foreach (UserInfo user in Model.Objects)
        {

        <tr>
            <td>
                <a asp-action="UserInfo" asp-controller="UserInfo" asp-route-userId="@user.Id">@user.User.UserName</a>
            </td>
            <td>
                <a asp-action="Edit" asp-controller="UserInfo" asp-route-userId="@user.Id">Редактировать</a>
            </td>
            <td>
                <a asp-action="UserAccounts" asp-controller="Account" asp-route-userId="@user.UserId">Счета</a>
            </td>

            <td>
                <a asp-action="AdminSendMessageToChangePassword" asp-controller="Manage" asp-route-userId="@user.UserId">Отправить ссылку на восстановление пароля</a>
            </td>
            </tr>

        }
    </table>

    @if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-default btn">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Назад
        </a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-default btn">
            Вперед
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
</section>