﻿@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetBanking</title>

    
   
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <environment include="Development">

        @*<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css"/>*@
        <link rel="stylesheet" href="../../css/LayoutsStyles/bootstrap.min.css">
        @*  <link href="../../css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>*@
        @*<link href="../../css/style.css" rel="stylesheet" type="text/css"/>*@
        <link rel="stylesheet" href="../../css/LayoutsStyles/style.css">
    </environment>
</head>

<body>
    <section class="top-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hi-user pull-left">
                        <div class="img-wrapper">
                            <img src="~/@Context.Session.GetString("Logo")" width="100" height="100" />
                        </div>
                        <p>Здравствуйте, <span> @Context.Session.GetString("FullName")</span></p>
                    </div>
                    <a class="enter-but btn pull-right" asp-action="LogOff" asp-controller="User">Выход</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav">
                        <li><a asp-action="Index" asp-controller="User">Кабинет</a></li>
                        <li><a asp-action="Index" asp-controller="User">Счета</a></li>
                        <li><a href="#">Платежи</a></li>
                        <li><a asp-action="Transfer" asp-controller="Transfer">Переводы</a></li>
                        @*<li class="btn-b-bun">
                              <a href="#">Dropdown <b class="caret"></b></a>
                              <ul class=" b-menu">
                                <li><a href="#">Действие</a></li>
                                <li><a href="#">Другое действие</a></li>
                                <li><a href="#">Что-то еще</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Отдельная ссылка</a></li>
                              </ul>
                            </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer style="margin-top: 80px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">"© Copyright"</p>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
        
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
       
    </environment>

    @RenderSection("Scripts",  false)
</body>
</html>
