﻿@model Bank

@{
    Layout = "_Layout2";
    int increm = 0;
}

<section class="form-section" style="margin-top:40px">
    <h2>@Model.BankInfo.BankName</h2>
    <table class="table">
        <tr>
            <td>
            <th>БИК</th>
            <th>@Model.BIK</th>
            </td>
            <td>
            <th>Email</th>
            <th>@Model.BankInfo.Email</th>
            </td>
        </tr>
    </table>
    <a asp-action="Edit" asp-controller="Bank" asp-route-bankId="@Model.Id">Редактировать</a>
</section>