﻿@model InternetBanking.ViewModels.CreateBankViewModel

@{
    Layout = "_Layout2";
    int increm = 0;
}
<section class="form-section" style="margin-top:40px">
    <h2>Добавить банк</h2>

    <form method="post" asp-controller="Bank" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="row">
            <div class="form person-name col-md-6">
                <div class="input-group">
                    <label asp-for="BIK"></label><br />
                    <input asp-for="BIK" />
                    <span class="validation" asp-validation-for="BIK"></span>
                </div>
                <div class="input-group">
                    <label asp-for="BankName"></label><br />
                    <input asp-for="BankName" />
                    <span  class="validation" asp-validation-for="BankName"></span>
                </div>
                <div class="input-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" />
                    <span class="validation" asp-validation-for="Email"></span>
                </div>
                <div>
                    <input type="submit" value="Добавить" />
                </div>
            </div>
        </div>
    </form>
</section>