﻿@model InternetBanking.ViewModels.ChangePasswordViewModel


@{
    Layout = "_Layout";
}


<section class="form-section">

    <div style="margin-top: 15px;">
        <h3>Смена пароля</h3>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div style="margin-top: 20px;">
                <p>Уважаемый пользователь интернет-банкинга, для более надежной охраны ваших данных, администрация настоятельно рекоменует сменить пароль, выданный вам первоначально. Пароль должен состоять минимум из 8 символов: буквы верхнего и нижнего регистров, цифр и символов</p>
            </div>
        </div>
        <div class="col-lg-4">
            <form asp-action="ChangePassword" asp-controller="Manage">
                <div asp-validation-summary="ModelOnly"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />
                <div>
                    <label asp-for="OldPassword">Старый пароль</label><br />
                    <input type="password" class="form-control" asp-for="OldPassword" />
                    <span asp-validation-for="OldPassword"></span>
                </div>
                <div>
                    <label asp-for="NewPassword">Новый пароль</label><br />
                    <input type="password" class="form-control" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Подтвердить пароль</label><br />
                    <input type="password" class="form-control" asp-for="ConfirmPassword" class="form-group" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                    @*<div asp-validation-summary="All"><h3>@message</h3></div>*@
                </div>
            </form>
        </div>


    </div>



</section>