﻿@model InternetBanking.ViewModels.ForgotPasswordViewModel


@{
    Layout = "_Layout2";
}

<section class="form-section">

    <div style="margin-top: 15px;">
        <h3>Смена пароля</h3>
    </div>
    
        <div class="col-lg-4">
            <form asp-action="ChangePasswordIfForgot" asp-controller="Manage">
                <div asp-validation-summary="ModelOnly"></div>

                <input type="hidden" asp-for="Id" />
              
                <div>
                    <label asp-for="NewPassword">Новый пароль</label><br />
                    <input type="password" class="form-control" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Подтвердить пароль</label><br />
                    <input type="password" class="form-control" asp-for="ConfirmPassword" class="form-group" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div>
                    <input type="submit" value="Сохранить" class="btn btn-default" />
                    @*<div asp-validation-summary="All"><h3>@message</h3></div>*@
                </div>
            </form>
        </div>
        
   
    
</section>