﻿@model InternetBanking.ViewModels.CheckEmailViewModel

@{
   
    Layout = "_Layout2";
}

<section class="form-section">
    <h4 style="margin-top: 50px;"> Ссылка для смены пароля отправится на электронную почту, которая была введена при регистрации</h4>
    <form asp-action="CheckEmail" asp-controller="Manage">

        <div>
            <label asp-for="EmailConfirm">Ваша электронная почта</label><br>
            <input type="text" asp-for="EmailConfirm" />
            <span asp-validation-for="EmailConfirm"></span>
        </div>

        <div class="form-group" style="margin-top: 10px">
            <input type="submit" value="Отправить" class="btn btn-default"/>
        </div>
        
    </form>
</section>
