﻿@model Company

@{
    Layout = "_Layout2";
    int increm = 0;
}

<h2 style="margin-top: 64px;">@Model.NameCompany</h2>
<div style="text-align: right">
    <a asp-action="Edit" asp-controller="Company" asp-route-id="@Model.Id" class="btn btn-default">Редактировать</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="width:30%">
                Название
            </th>
            <th style="width:60%" colspan="2">
                Значение
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Логотип
            </td>
            <td rowspan="1"><img src="~/@Model.Logo" width="100" height="100" /></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NameCompany)
            </td>
            <td>
                @Html.DisplayFor(model => model.NameCompany)
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Employee" asp-route-id="@Model.Id">Сотрудники</a>
</td>
            <td>
                @foreach (EmployeeInfo employee in Model.EmployeeInfos)
                {
                    @Html.DisplayFor(model =>
                employee.FirstName);
                    increm = increm + 1;
                    if (Model.EmployeeInfos.Count() != increm)
                        {
                        <span>, </span>
                    }
                    else
                    {
                        increm = 0;
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <a asp-action="Index" asp-controller="Account" asp-route-companyId="@Model.Id">Счета</a>
            </td>
            <td>
                @foreach (Account account in Model.Accounts)
                {
                    @Html.DisplayFor(model =>
                account.Number);
                    increm = increm + 1;
                    if (Model.Accounts.Count() != increm)
                    {
                        <span>, </span>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.INN)
            </td>
            <td>
                @Html.DisplayFor(model => model.INN)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.CodeOKPO)
            </td>
            <td>
                @Html.DisplayFor(model => model.CodeOKPO)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationNumberSocialFund)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationNumberSocialFund)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.NumberOfEmployees)
            </td>
            <td>
                @Html.DisplayFor(model => model.NumberOfEmployees)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.Country.CountryName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.LegalForm)
            </td>
            <td>
                @Html.DisplayFor(model => model.LegalForm.LegalFormName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.PropertyType)
            </td>
            <td>
                @Html.DisplayFor(model => model.PropertyType.PropertyTypeName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Residency)
            </td>
            <td>
                @Html.DisplayFor(model => model.Residency.ResidencyName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationData.RegistrationAuthority)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationData.RegistrationAuthority)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationData.DateOfRegistrationMinistryJustice)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationData.DateOfRegistrationMinistryJustice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationData.IssuedBy)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationData.IssuedBy)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationData.DateOfInitialRegistration)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationData.DateOfInitialRegistration)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.RegistrationData.TaxInspection)
            </td>
            <td>
                @Html.DisplayFor(model => model.RegistrationData.TaxInspection.TaxInspectionName)
            </td>
        </tr>
    </tbody>
</table>


