﻿@model InternetBanking.ViewModels.CompanyEditViewModel

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Редактирование компании";
}


<section class="form-section">
    <h2 style="margin-top: 45px;">Редактирование информации компании</h2>
  
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form person-name col-md-6">
                        <h3>Данные клиента</h3>
                        <input type="hidden" asp-for="RegistrationData.Id" class="form-control" value="@Model.RegistrationData.Id" />
                        <input type="hidden" asp-for="Company.Id" class="form-control"  />
                        <div class="input-group">
                            <div>
                                <label asp-for="Company.NameCompany"></label><br />
                                <input class="form-control" asp-for="Company.NameCompany" />
                            </div>
                            <div> <span class="validation" asp-validation-for="Company.NameCompany"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Company.LegalFormId"></label><br />
                            @*<select class="select" asp-for="LegalFormId" asp-items="@Model.LegalForms">
                                <option value="">Please select one</option>
                            </select>*@
                            @Html.DropDownListFor(m => m.Company.LegalFormId, Model.LegalForms, new{@class="select"})
                            <div>
                                <span class="validation" asp-validation-for="Company.LegalFormId"></span>
                            </div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Company.PropertyTypeId"></label><br />
                            @*<select class="select" asp-for="PropertyTypeId" asp-items="@Model.PropertyTypes">
                                <option value="">Please select one</option>
                            </select>*@
                            @Html.DropDownListFor(m => m.Company.PropertyTypeId, Model.PropertyTypes, new{@class="select"});
                            <div> <span class="validation" asp-validation-for="Company.PropertyTypeId"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Company.INN"></label><br />
                            <input class="form-control" asp-for="Company.INN" />
                            <div>  <span class="validation" asp-validation-for="Company.INN"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Company.CodeOKPO"></label><br />
                            <input class="form-control" asp-for="Company.CodeOKPO" />
                            <div> <span class="validation" asp-validation-for="Company.CodeOKPO"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="Company.RegistrationNumberSocialFund"></label><br />
                            <input class="form-control" asp-for="Company.RegistrationNumberSocialFund" />
                            <div>  <span class="validation" asp-validation-for="Company.RegistrationNumberSocialFund"></span></div>
                        </div>
                    </div>
                    <div class="form data-info col-md-6">
                        <h3>Регистрационные Данные</h3>
                        <div class="input-group">
                            <label asp-for="RegistrationData.RegistrationAuthority"></label><br />
                            <input class="form-control" asp-for="RegistrationData.RegistrationAuthority" />
                            <div> <span class="validation" asp-validation-for="RegistrationData.RegistrationAuthority"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="RegistrationData.DateOfRegistrationMinistryJustice"></label><br />
                            <input type="date" class="form-control"  asp-for="RegistrationData.DateOfRegistrationMinistryJustice" />
                            <div> <span class="validation" asp-validation-for="RegistrationData.DateOfRegistrationMinistryJustice"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="RegistrationData.IssuedBy"></label><br />
                            <input class="form-control" asp-for="RegistrationData.IssuedBy" />
                            <div> <span class="validation" asp-validation-for="RegistrationData.IssuedBy"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="RegistrationData.DateOfInitialRegistration"></label><br />
                            <input type="date" class="form-control"  asp-for="RegistrationData.DateOfInitialRegistration" />
                          
                            <div><span class="validation" asp-validation-for="RegistrationData.DateOfInitialRegistration"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="RegistrationData.TaxInspectionId"></label><br />
                            @*<select class="select" asp-for="TaxInspectionId" asp-items="@Model.TaxInspections">
                                <option value="">Please select one</option>
                            </select>*@
                            @Html.DropDownListFor(m => m.RegistrationData.TaxInspectionId, Model.TaxInspections, new{@class="select"})
                            <div> <span class="validation" asp-validation-for="RegistrationData.TaxInspectionId"></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form person-information col-md-6">
                        <h3>Резиденство</h3>
                        <div class="select-form-wrapper">
                            <div class="input-group">
                                <label asp-for="Company.ResidencyId"></label><br />
                                @*<select class="select" asp-for="ResidencyId" asp-items="@Model.Residencies">
                                    <option value="">Please select one</option>
                                </select>*@
                                @Html.DropDownListFor(m => m.Company.ResidencyId, Model.Residencies, new { @class = "select" })
                                <div><span class="validation" asp-validation-for="Company.ResidencyId"></span></div>
                            </div>
                        </div>

                        <h3>Гражданство</h3>
                        <div class="input-group">
                            <label asp-for="Company.CountryId"></label><br />
                           
                            @Html.DropDownListFor(m => m.Company.CountryId, Model.Countries, new{@class="select"}).
                            <div> <span class="validation" asp-validation-for="Company.CountryId"></span></div>
                        </div>
                    </div>
                    <div class="form person-intelligence col-md-6">
                        <h3>Сведения о клиенте</h3>

                        <div class="input-group">
                            <label asp-for="Company.NumberOfEmployees"></label><br />
                            <input class="form-control" type="number" asp-for="Company.NumberOfEmployees" />
                            <div><span class="validation" asp-validation-for="Company.NumberOfEmployees"></span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form person-propiska col-md-6">
                        <h3>Юридический адрес</h3>
                        <div class="select-form-wrapper">
                            <div class="input-group">
                                <label asp-for="LegalAddress.CountryId"></label><br />
                                @*<select class="select" asp-for="LegalAddress.CountryId" asp-items="@Model.LegalAddress.Countries">
                                    <option value="">Please select one</option>
                                </select>*@
                                @Html.DropDownListFor(m => m.LegalAddress.CountryId, (SelectList)ViewBag.CountriesForAddress, new{@class="select"})
                                <div> <span class="validation" asp-validation-for="LegalAddress.CountryId"></span></div>
                            </div>
                        </div>
                        <div class="select-form-wrapper">
                            <div class="input-group">
                                <label asp-for="LegalAddress.City"></label><br />
                                <input class="form-control" asp-for="LegalAddress.City" />
                                <div><span class="validation" asp-validation-for="LegalAddress.City"></span></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label asp-for="LegalAddress.PostCode"></label><br />
                            <input class="form-control" asp-for="LegalAddress.PostCode" />
                            <div> <span class="validation" asp-validation-for="LegalAddress.PostCode"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="LegalAddress.Street"></label><br />
                            <input class="form-control" asp-for="LegalAddress.Street" />
                            <div><span class="validation" asp-validation-for="LegalAddress.Street"></span></div>
                        </div>
                        <div class="input-group">
                            <label asp-for="LegalAddress.HouseAddress"></label><br />
                            <input class="form-control" asp-for="LegalAddress.HouseAddress" />
                            <div> <span class="validation" asp-validation-for="LegalAddress.HouseAddress"></span></div>
                        </div>
                    </div>
                <div class="form person-propiska col-md-6">
                    <h3>Адрес фактического местонахождения</h3>
                    <div class="select-form-wrapper">
                        <div class="input-group">
                            <label asp-for="FactAddress.CountryId"></label><br />
                            @*<select class="select" asp-for="FactAddress.CountryId" asp-items="@Model.FactAddress.Countries">
                                <option value="">Please select one</option>
                            </select>*@
                            @Html.DropDownListFor(m => m.FactAddress.CountryId, (SelectList)ViewBag.CountriesForAddress, new{@class="select"})
                            <div> <span class="validation" asp-validation-for="FactAddress.CountryId"></span></div>
                        </div>
                    </div>
                    <div class="select-form-wrapper ">
                        <div class="input-group">
                            <label asp-for="FactAddress.City"></label><br />
                            <input class="form-control" asp-for="FactAddress.City" />
                            <div> <span class="validation" asp-validation-for="FactAddress.City"></span></div>
                        </div>
                    </div>
                    <div class="input-group">
                        <label asp-for="FactAddress.PostCode"></label><br />
                        <input class="form-control" asp-for="FactAddress.PostCode" />
                        <div><span class="validation" asp-validation-for="FactAddress.PostCode"></span></div>
                    </div>
                    <div class="input-group">
                        <label asp-for="FactAddress.Street"></label><br />
                        <input class="form-control" asp-for="FactAddress.Street" />
                        <div> <span class="validation" asp-validation-for="FactAddress.Street"></span></div>
                    </div>
                    <div class="input-group">
                        <label asp-for="FactAddress.HouseAddress"></label><br />
                        <input class="form-control" asp-for="FactAddress.HouseAddress" />
                        <div> <span class="validation" asp-validation-for="FactAddress.HouseAddress"></span></div>
                    </div>
                    <div>
                        <label asp-for="Company.Logo">Логотип</label><br />
                        <img src="~/@Model.Company.Logo" width="100" height="100" />
                            <input class="btn btn-default" style="margin-top: 7px;" type="file" name="Logo" accept="image/*" />
                        </div>
                        <div style="margin-top: 12px;">
                            <input type="submit" value="Сохранить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
      

</section>